<p id="notice"><%= notice %></p>

<p>
  <strong>Capacity:</strong>
  <%= @power_relay_station.capacity %>
</p>

<%= link_to 'Edit', edit_power_relay_station_path(@power_relay_station) %> |
<%= link_to 'Back', power_relay_stations_path %>
