<h1>Listing military_bases</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @military_bases.each do |military_basis| %>
      <tr>
        <td><%= link_to 'Show', military_basis %></td>
        <td><%= link_to 'Edit', edit_military_basis_path(military_basis) %></td>
        <td><%= link_to 'Destroy', military_basis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Military base', new_military_basis_path %>
