<!DOCTYPE HTML>
<!-- <html lang="en" ng-app="nationbuilderApp"> -->
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<!-- https://github.com/yahoo/pure/releases/tag/v0.5.0   -->
<link rel="stylesheet" type="text/css" href="pure-min.css">
	 <script data-main="js/main.js" src="lib/require-v2.1.18.js"></script>
 </head>
<!--<body ng-controller="ClickdataCtrl" data-ng-init="init()"> -->
<body>
<div>
<label>Welcome: {{userData.screenname}} </label><br/>
<label>State: {{userData.state.name}}</label>
</div>
<div>
Show grid <input type="checkbox" name="gridcontrol" value="showgrid" ng-click="showgrid($event)" checked="true"></br>
</div>
    			<!-- <ul>
        			<li ng-repeat="resource in mapData.clickedTile.resourcetypes">
            		{{resource.resourcetype.name}}
        			</li>
    			 </ul> -->
<div class="zoomcontrols">
    <button type="button" class="zoombutton" ng-click="zoomIn($event)">+</button>
    <button type="button" class="zoombutton" ng-click="zoomOut($event)">-</button>

</div>
  

<div class="scrollcontrols">
	<button type="button" class="scrollleftbutton"  ng-click="scrollleft($event)" >L</button>
	<button type="button" class="scrollupbutton"    ng-click="scrollup($event)">U</button>
	<button type="button" class="scrolldownbutton"  ng-click="scrolldown($event)">D</button>
	<button type="button" class="scrollrightbutton" ng-click="scrollright($event)">R</button>
</div>
<div id="container" class="map"></div>
<div class="selectedinfo">
 <b><label>Selected Object Info:</label></b><br/>
 <label>X: {{mapData.clickedTile.tile.tiles[0].tile.xposition}}</label> <label>Y: {{mapData.clickedTile.tile.tiles[0].tile.yposition}}</label><br/>	
 <label>Owner: {{mapData.clickedTile.tile.tiles[0].tile.claims[0].claim.state.name}} </label><br/>
 <label>Type: ? </label><br/><br/>
 &nbsp;<button title="Available actions" ng-click="availableactions($event)" class="pure-button">A</button>
</div>


<!--  TODO: tileinfo nog even hernoemen naar iets anders... want het is geen tileinfo meer -->
<!-- TODO: alle acties in een aparte controller opnemen, dit een keer doen als er een aantal acties geimplementeerd zijn -->
<div class="tileinfo" >
<ul class="tabs">
        <li>
          <input type="radio" checked name="tabs" id="tab1">
          <label for="tab1" title="">Military</label>
          <div id="tab-content1" class="tab-content animated fadeIn">
			  <button class="pure-button" title="Deploy forward  base">DFB</button><br/>
			  <!-- military acties zijn afgekort met mil_ -->
			  <button class="pure-button" title="Lay claim on territory" ng-click="mil_lct($event)">LCT</button>
			  <!-- Het plaatsen van een military base op een tile -->
			  <button class="pure-button" title="Place Military Base" ng-click="mil_pmb($event)">PMB</button>
          </div>
        </li>
        <li>
          <input type="radio" name="tabs" id="tab2">
          <label for="tab2" title="">Civilian</label>
          <div id="tab-content2" class="tab-content animated fadeIn">
          </div>
        </li>
        <li>
          <input type="radio" name="tabs" id="tab3">
          <label for="tab3">Industry</label>
          <div id="tab-content3" class="tab-content animated fadeIn">
            <button class="pure-button" title="Steel industry">SI</button><br/>
          </div>
        </li>
        <li>
          <input type="radio" name="tabs" id="tab4">
          <label for="tab4">Government</label>
          <div id="tab-content3" class="tab-content animated fadeIn">
            ...
          </div>
        </li>
        <li>
          <input type="radio" name="tabs" id="tab5">
          <label for="tab5">Special</label>
          <div id="tab-content3" class="tab-content animated fadeIn">
            ...
          </div>
</ul>
</div>

</div>
</body>
</html>