
		  .selectedinfo  { 
		  		position:relative;
		  		left:375px;
		  		width:190px;
		  		height: 150px;
		  		bottom: 20px;
		  		background-color: #F3F4F6
		  }
        .zoomcontrols {
            position: relative;
            left:322px;
            bottom: -184px;
            width:20px;
        }
        .scrollcontrols {
       	position: relative;
       	width:100px;
       	height:45px;
       	bottom: 40px;
        }
        
        .tileinfo { 
			position:relative;
			left:370px;        
			width:535px;
			top:-400px;
			height: 320px;
			background-color: #EBF1FF;
        }
        
        .zoombutton {
            width:20px;
            height: 20px;
        }
        .scrollupbutton {
			 position: absolute;
			 top:1px;      
			 left:33px;  
			 left:
        }
        .scrolldownbutton {
			 position: absolute;
			 bottom:1px;        
			 left: 33px;
			 
        }
        .scrollrightbutton {
			
			position:absolute;
			right:1px;       
			top:15px;
        }
        .scrollleftbutton {
			  position:  absolute;
			  left:1px;  
			  top:15px;      
        }
        .map
        .relative {
            position: relative;
            float:right;
        }
        .absolute {
            position: relative;
            top:400px;
        }
        
        .tabs input[type=radio] {
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
      .tabs {
        width: 650px;
        float: none;
        list-style: none;
        position: relative;
        padding: 0;
        margin: 75px auto;
      }
      .tabs li{
        float: left;
      }
      .tabs label {
          display: block;
          padding: 10px 20px;
          border-radius: 2px 2px 0 0;
          font-size: 16	px;
          font-weight: normal;
          font-family: 'Lily Script One', helveti;
          background: rgba(255,255,255,0.2);
          cursor: pointer;
          position: relative;
          top: 3px;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
      }
      .tabs label:hover {
        background: rgba(255,255,255,0.5);
        top: 0;
      }
       
      [id^=tab]:checked + label {
        background: #08C;
        color: white;
        top: 0;
      }
       
      [id^=tab]:checked ~ [id^=tab-content] {
          display: block;
      }
        .tab-content{
        z-index: 2;
        display: none;
        text-align: left;
        font-size: 12px;
        position: absolute;
        top: 53px;
        left: 0;
      }